
<div class="footer">
	<div class="footer_menu">
		<div class="footer_menu_items">
		 	<a href="artelier.html">artelier</a><a href="#">|</a>
  			<a href="artfolio.html">artfolio</a>
		  	<div class="footer_menu_items_centered">
		  		<a href="index.html" class="active"><img src="images/signature2.png"/></a>
		  	</div>
		    <a href="projects.html">projects</a><a href="#">|</a>
		    <a href="creds.html">creds</a>
		</div>
	</div>
	<div class="footer_copywrite">
		<div class="footer_copywrite_items">
		<a href="">© 2020 crystal hansen artographic</a>
		<!-- <a href=""></a> -->
		<a href="">TOP ^</a>
		</div>	
	</div>
</div>