<div class="menu">
	<span class="field-tip">
		<a href="projects.html">Projects</a>
		<span class="tip-content">Current and Past Project works set out to do. Could be commercially or personally. They could be IT related.</span>
	</span>
	<span class="field-tip">
	<a href="Contact">Contact</a>
		 <span class="tip-content">How to Chat it up.</span>
	</span>
	
	<span class="field-tip">
	  <a href="Hoopla">Hoopla</a>
	    <span class="tip-content">where its at.</span>
	</span>  
	<a href="sayTime">Time</a>
	<a href="FileCounter">Count</a>
</div>