<!-- <a href="javascript:void(0);" class="topnav-icons fa fa-menu w3-hide-large w3-left w3-bar-item w3-button" onclick="open_menu()" title="Menu"></a>
 --> 
 <style>.logo{width:40%; position:relative; top:-20px; float:left;}</style>
<div class="top">
	<!-- <a href="" class="crystalhansenartographic-logo notranslate">crystalhansenartographic<span class="dotcom">.com</span></a> -->
	<img src="images/signature2.png" class="logo"/>
</div>

<div class="topnav">
<a href="" class="topnav-icons fa fa-home w3-left w3-bar-item w3-button" title="Home"></a>
	<span class="field-tip">
		<a href="artelier.html">Artelier</a>
		<span class="tip-content">Studio Area of Works. whats on the go.</span>
	</span>
	<span class="field-tip">
	<a href="biography.html">Biography</a>
		<span class="tip-content">Area to describe who Crystal Hansen Artographic is and what Artographic really means</span>
	</span>
	
<span class="field-tip">
		<a href="fine-art.html">Fine Art</a>
		<span class="tip-content">Categorically what is deemed Fine Art Works</span>
	</span>
	<span class="field-tip">
		<a href="Portfolio">Portfolio</a>
		<span class="tip-content">Best of the Best</span>
	</span>
	<span class="field-tip">
		<a href="shop.html">Shop</a>
		<span class="tip-content">valued commodities</span>
	</span>

</div>